<root xmlns:foo="http://www.foo.org/" xmlns:bar="http://www.bar.org">
  <actors>
    <actor id="1">Christian Bale</actor>
    <actor id="2">Fire And Ice</actor>
    <actor id="3">GamesofThrones</actor>
  </actors>
  <singers>
    <singer id="4">RRMartin</singer>
    <singer id="5">RRMartin</singer>
    <singer id="6">RRMartin</singer>
  </singers>
</root>